<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <script src="@Path['bower/webcomponentsjs/webcomponents-lite.min.js']"></script>
    <link rel="import" href="@Path['Content/polymer_elements/hello-world.html']"/>
    <link rel="import" href="@Path['Content/polymer_elements/picture-frame.html']"/>
    <link rel="import" href="@Path['Content/polymer_elements/name-tag.html']"/>
    <link rel="import" href="@Path['Content/polymer_elements/configurable-name-tag.html']"/>
    <link rel="import" href="@Path['Content/polymer_elements/editable-name-tag.html']"/>
    <link rel="import" href="@Path['bower/paper-scroll-header-panel/paper-scroll-header-panel.html']"/>
    <link rel="import" href="@Path['bower/paper-toolbar/paper-toolbar.html']"/>
    <title></title>
</head>
<body class="fullbleed layout vertical">
    <paper-scroll-header-panel class="flex">
        <paper-toolbar>
            <div>Hello World!</div>
        </paper-toolbar>
    </paper-scroll-header-panel>

<hello-world></hello-world>
<br/>

<picture-frame>
    <img src="@Path['Content/image/sloth_moto.jpg']"/>
</picture-frame>
<br/>

<name-tag></name-tag>
<br/>

<configurable-name-tag owner="Scott"></configurable-name-tag>
<br/>

<editable-name-tag></editable-name-tag>
</bodyclass="fullbleed>
</html>
