<!DOCTYPE html>
<html>
<head>
    <title>Registration and Lifecycle</title>
    <meta charset="utf-8"/>
    <script src="@Path['bower/webcomponentsjs/webcomponents-lite.min.js']"></script>
    <link rel="import" href="@Path['bower/polymer/polymer.html']"/>
</head>

<body>

<script>
    HTMLImports.whenReady(function() {
        MyElement = Polymer({
            is: "my-element",
            hostAttributes: {
                "string-attribute": "Value",
                "boolean-true": true,
                "boolean-false": false,
                tabindex: 0
            }
        });

        var element = new MyElement();
        document.body.appendChild(element);
    });
</script>
</body>

</html>
