<!DOCTYPE html>
<html>
<head>
    <title>Registration and Lifecycle</title>
    <meta charset="utf-8"/>
    <script src="@Path['bower/webcomponentsjs/webcomponents-lite.min.js']"></script>
    <link rel="import" href="@Path['bower/polymer/polymer.html']"/>
</head>

<body onload="createElements()">

<input is="my-input"/>
<br/><br/>

<script type="text/javascript">
    function createElements() {
        MyInput = Polymer({
            is: "my-input",
            extends: "input",
            created: function() {
                this.style.border = "1px solid red";
            }
        });

        var constructedElement = new MyInput();
        console.log(constructedElement instanceof HTMLInputElement);
        document.body.appendChild(constructedElement);

        var createdElement = document.createElement("input", "my-input");
        console.log(createdElement instanceof HTMLInputElement);
        document.body.appendChild(createdElement);
    }
</script>
</body>

</html>
